python-dotenv==1.0.1
google-generativeai==0.5.4
google-genai
Werkzeug==3.0.6
gunicorn==23.0.0
bcrypt==4.1.3
boto3==1.34.162
pandas==2.2.3
openpyxl==3.1.5
requests==2.31.0
Flask==3.0.3
flask_cors==5.0.0
langchain>=0.2.10
langchain-openai>=0.2.0
langchain-google-genai>=2.0.0
chromadb==0.4.24
flashrank==0.2.9